<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MediCsharp0Entities" connectionString="metadata=res://*/Modelo1.csdl|res://*/Modelo1.ssdl|res://*/Modelo1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=M201-01;initial catalog=MediCsharp2;persist security info=True;user id=sa;password=@lumno123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MediCsharp3Entities" connectionString="metadata=res://*/Modelo1.csdl|res://*/Modelo1.ssdl|res://*/Modelo1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=M201-01;initial catalog=MediCsharp2;persist security info=True;user id=sa;password=@lumno123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MediCsharp4Entities" connectionString="metadata=res://*/Modelo1.csdl|res://*/Modelo1.ssdl|res://*/Modelo1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=M201-01;initial catalog=MediCsharp2;user id=sa;password=@lumno123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MediCsharp11Entities" connectionString="metadata=res://*/Modelo2.csdl|res://*/Modelo2.ssdl|res://*/Modelo2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MediCsharp2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MediCsharp12Entities" connectionString="metadata=res://*/Modelo3.csdl|res://*/Modelo3.ssdl|res://*/Modelo3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MediCsharp2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MediCsharp14Entities" connectionString="metadata=res://*/Modelo5.csdl|res://*/Modelo5.ssdl|res://*/Modelo5.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MediCsharp2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MediCsharp15Entities" connectionString="metadata=res://*/Modelo6.csdl|res://*/Modelo6.ssdl|res://*/Modelo6.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MediCsharp2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MediCsharp16Entities" connectionString="metadata=res://*/Modelo7.csdl|res://*/Modelo7.ssdl|res://*/Modelo7.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MediCsharp2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MediCsharp17Entities" connectionString="metadata=res://*/Modelo8.csdl|res://*/Modelo8.ssdl|res://*/Modelo8.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MediCsharp2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MediCsharp18Entities" connectionString="metadata=res://*/Modelo9.csdl|res://*/Modelo9.ssdl|res://*/Modelo9.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MediCsharp2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MediCsharp19Entities" connectionString="metadata=res://*/Modelo10.csdl|res://*/Modelo10.ssdl|res://*/Modelo10.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MediCsharp2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MediCsharp20Entities" connectionString="metadata=res://*/Modelo11.csdl|res://*/Modelo11.ssdl|res://*/Modelo11.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MediCsharp2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>